body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e2e2e2;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  /* margin: 0 auto; */
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  width: 100%;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

.text-danger {
  color: #dc3545;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.row.mt-3 {
  margin-top: 15px;
}

.text-center.mb-4 {
  margin-bottom: 20px;
}
  @media (max-width: 976px) {
    .container {
      padding: 0 10px;
      margin-top: 3rem;
    }

    .card-body {
      padding: 20px;
    }

    .col-lg-6.text-lg-right {
      text-align: center;
      margin-top: 1rem;
    }
  }

  .password-input {
    position: relative;
  }

  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .eye-icon i {
    font-size: 16px;
    transition: color 0.3s;
  }

  .eye-icon i.fa-eye-slash:hover {
    color: red;
  }
